<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/header') %>

        <main class="auth-container">
            <section class="auth-box">
                <h2>¡Hola de nuevo! 👋</h2>

                <form action="/users/login" method="POST" class="auth-form">

                    <div class="form-group">
                        <label for="email">Correo Electrónico</label>
                        <div class="input-wrapper">
                            <i class="fas fa-envelope"></i>
                            <input type="email" id="email" name="email" /* Persistencia (Old Data) */
                                value="<%= locals.oldData ? oldData.email : null %>">
                        </div>
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <div class="input-wrapper">
                            <i class="fas fa-lock"></i>
                            <input type="password" id="password" name="password">
                        </div>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="remember-me">
                        <input type="checkbox" name="remember_user" id="remember">
                        <label for="remember">Recordarme</label>
                    </div>

                    <button type="submit" class="btn-primary">INGRESAR</button>
                </form>

                <div class="auth-footer">
                    <p>¿Aún no tienes cuenta? <a href="register.html">Regístrate gratis</a></p>
                </div>
            </section>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>